body {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('images/background.jpg');
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 300px;
    padding: 20px;
    border-radius: 5px;
}
.container h1 {
    margin-bottom: 20px;
}
.container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
}
.container input[type="email"],
.container input[type="password"] {
    background-color: #333;
    color: #fff;
}
.container input[type="submit"] {
    background-color: #e50914;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.remember-me {
    display:inline-flex;
}
.container a {
    color: #b3b3b3;
    text-decoration: none;
}
.container a:hover {
    text-decoration: underline;
}
.container .sign-up {
    margin-top: 20px;
    text-align: center;
}